{
    "singleQuote": true,
    "semi": false,
    "printWidth": 80,
    "bracketSameLine": false,
    "endOfLine": "lf",
    "tabWidth": 4,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true,
    "arrowParens": "always"
}
